.root {
    -fx-base: #1D1E28;
    -fx-background: #1D1E28;
    -fx-control-inner-background: #1D1E28;
}

.message {
	-fx-font-size: 12.0px;
	-fx-background-radius: 15.0px;	
	-fx-background-radius: 3.0px;
	-fx-padding: 3.0px;
}

.message-me {
	-fx-alignment: bottom-left;
	-fx-padding: 3.0px;
}

.message-me .message {
	-fx-text-fill: #FFFFFF;
	-fx-background-color: #7438A5;
}

.message-other {
	-fx-alignment: bottom-right;
	-fx-padding: 3.0px;
}

.message-other .message {
	-fx-text-fill: #FFFFFF;
	-fx-background-color: #F58A48;
}

.user-name {
	-fx-font-size: 16.0px;
	-fx-alignment: center;	
}

.user-info {
	-fx-font-size: 12.0px;
}

.user-online {
	-fx-background-color: #53B753;	
}

.user-offline {
	-fx-background-color: #E56868;
}

.chat-button {
	
}

.chat-text {
	-fx-background-color: #1D1E28;	
	-fx-text-fill: #FFFFFF;
}